@model LoginDto
@{
    Layout = null;
}

<!doctype HTML>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/font-awesome.min.css">
    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/global/shared/login.css" rel="stylesheet">
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="#" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-white text-decoration-none">
                    <i class="fa fa-hospital-o fa-2x"></i>
                </a>
                <div class="text-end">
                    <a href="/Doctor/Auth/Login" type="button" class="btn btn-outline-light me-2">Doktor Girişi</a>
                    <a href="/Admin/Auth/Login" type="button" class="btn btn-outline-light me-2">Yönetici Girişi</a>
                </div>
            </div>
        </div>
    </header>
    <main class="form-body text-center mt-5">
        <div class="form-signin">
            <div class="alert alert-info text-center" role="alert">
                Hasta Eposta: patient@patient.com
                Şifre: 12345678
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger text-center" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
            <form method="post">
                <h2 class="mb-4">HASTA GİRİŞİ</h2>
                <div class="form-floating">
                    <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Eposta adresi</label>
                    <span asp-validation-for="Email" class="small text-danger d-block m-2"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
                    <label for="floatingPassword">Şifre</label>
                    <span asp-validation-for="Password" class="small text-danger d-block m-2"></span>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input asp-for="RememberMe" type="checkbox"> Beni hatırla
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş yap</button>
                <hr />
                <a href="/Patient/Auth/Register" class="w-100 btn btn-lg btn-secondary" type="submit">Hasta Kayıt</a>
            </form>
        </div>
    </main>
</body>
</html>
