@model MedicalSpecialtyDto
@{
    Layout = "~/Layouts/_AdminLayout.cshtml";
}

<section class="container">
    <h4 class="m-4">Branş Güncelleme Sayfası</h4>
    <hr />
    <div class="d-flex justify-content-center">
        <form method="POST" class="mt-2 col-12 col-md-9 col-lg-6">
            <div class="mb-3">
                <label class="form-label">Branş Adı</label>
                <input asp-for="Name" type="text" class="form-control">
                <span class="small text-danger" asp-validation-for="Name"></span>
            </div>
            <div>
                <label class="form-label">Açıklama</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span class="small text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="mt-5 d-grid gap-2">
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
        </form>
    </div>
</section>