@model DoctorDto
@{
    Layout = "~/Layouts/_AdminLayout.cshtml";
}

<section class="container m-3">
    <h4>Doktor Gümcelleme Sayfası</h4>
    <form method="POST" style="max-width: 700px;" class="mt-4">
        <input type="hidden" asp-for="HospitalId" />
        <div class="mb-3">
            <label class="form-label">Adı</label>
            <input asp-for="Name" type="text" class="form-control">
            <span class="small text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Soyadı</label>
            <input asp-for="Surname" type="text" class="form-control">
            <span class="small text-danger" asp-validation-for="Surname"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Eposta Adresi</label>
            <input asp-for="Email" type="email" class="form-control">
            <span class="small text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <select asp-for="MedicalSpecialtyId" class="form-select" aria-label="Default select example">
                @foreach (var item in TempData["MedicalSpecialties"] as List<MedicalSpecialtyDto>)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Güncelle</button>
    </form>
</section>
