@model MedicalSpecialtyDto
@{
    Layout = "~/Layouts/_AdminLayout.cshtml";
}

<section class="container m-3">
    <h4>Branş Güncelleme Sayfası</h4>
    <form method="POST" style="max-width: 700px;" class="mt-4">
        <div class="mb-3">
            <label class="form-label">Branş Adı</label>
            <input asp-for="Name" type="text" class="form-control">
            <span class="small text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Açıklama</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span class="small text-danger" asp-validation-for="Description"></span>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Güncelle</button>
    </form>
</section>