@model List<AppointmentOnTheScheduleDto>
@{
    Layout = "~/Layouts/_DoctorLayout.cshtml";
}

<div class="container">
    <h4 class="text-center mt-4 mb-3">Randevuya açılacak günü seçiniz</h4>
    <!-- Gün seçimi kutuları -->
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-5 col-sm-4 col-md-2 mt-2">
                @if (item.IsSelectable)
                {
                    <button class="btn btn-primary" onclick="OpenTodayForAppointments('@item.Datetime.Date')">
                        @item.Datetime.ToString("dd MMMM yyyy")
                    </button>
                }
                else
                {
                    <button class="btn btn-secondary disabled-day" disabled>@item.Datetime.ToString("dd MMMM yyyy")</button>
                }
            </div>
        }
    </div>
</div>

@section Javascript {
    <script>var isTransactionCompleted = @Html.Raw(Json.Serialize(TempData["IsTransactionCompleted"]));</script>
    <script src="~/assets/js/pages/doctor/opening-appointments.js"></script>
}